<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myboot.cmms.mapper.system.orgUser.SysOrgUserMapper" >
  <resultMap id="BaseSysUserResultMap" type="com.myboot.cmms.model.system.user.SysUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="login_pwd" property="loginPwd" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_face" property="userFace" jdbcType="VARCHAR" />
    <result column="user_gender" property="userGender" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="user_mail" property="userMail" jdbcType="VARCHAR" />
    <result column="user_remark" property="userRemark" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="BIT" />
    <result column="cert_no" property="certNo" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
    <result column="user_position" property="userPosition" jdbcType="VARCHAR" />
    <result column="first_login_time" property="firstLoginTime" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="VARCHAR" />
    <result column="last_logout_time" property="lastLogoutTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectUserListByOids" resultMap="BaseSysUserResultMap">
    select u.*
    from sys_user u,
    sys_org o
    where u.org_code=o.org_code
    <if test="oids != null and oids != '' and oids.length!= 0" >
      and o.id in
      <foreach collection="oids" item="oid" separator="," open="(" close=")">
        #{oid,jdbcType=INTEGER}
      </foreach>
    </if>
  </select>
  <select id="selectUserListByOid" resultMap="BaseSysUserResultMap" parameterType="java.lang.Integer">
    select u.*
    from sys_user u,
    sys_org o
    where u.org_code=o.org_code
    and o.id = #{oid,jdbcType=INTEGER}
  </select>
</mapper>
